.background {
    background-image: url('../../assets/images/background1.jpg');
    background-size: cover;
    height: 1200px;
}

.div-films--position {
    position: relative;
    left: 650px;
    top: 230px;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

.content {
    margin: 0px auto;
}  

.background-color-content {
    background-color: #ffffffd1;
}

.content-font--size {
    font-size: larger;
    font-weight: 600;
}